<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
	<div class="container">
		<% if(user) { %>
		<div class="card" style="padding: 30px; font-size: 1.5em; width: 50%;">
			<form action="/actualizar" method="POST">
				<input type="text" name="rut" hidden value="<%= user.RUT %>">
				<label>Nombre<input type="text" name="nombre" value="<%= user.nombre %>"></label>
				<label>Web<input type="text" name="web" value="<%= user.web %>"></label>
				<label>Telefono<input type="text" name="telefono" value="<%= user.telefono %>"></label>
				<label>Direccion<input type="text" name="direccion" value="<%= user.direccion %>"></label>
				<button type="submit">Editar</button>
				<a href="/" class="button error">Cancelar</a>
			</form>
		</div>
		<% } %>
	</div>
</body>
</html>